<div class="variables-set">
    <h1>{{name}}</h1>
    <div class="toolbar-workspace">
        <div class="toolbar-group">
            <input id="config-title"
                   class="set-title"
                   [(ngModel)]="set.Name"/>
        </div>
        <div class="toolbar-items">
            <div class="toolbar-group">
                <button class="item-workspace ico-save"
                        title="Sauvegarde les variables"></button>
                <div class="dropdown inline-block">
                    <button class="ico-restore
                                item-workspace 
                                dropdown-toggle"
                            type="button"
                            data-toggle="dropdown">
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let setd of sets" 
                            (click)="set = setd">
                            {{setd.Name}}
                        </li>
                        <li (click)="NewSet()">
                            Nouveau set
                        </li>
                    </ul>
                </div>
                <button class="item-workspace ico-clear"
                        title="Efface les fonctions enregistrées"
                        (click)="set.Clear()"></button>
                <button class="item-workspace ico-add"
                        title="Ajouter une variable"
                        (click)="set.Create()">
                </button>
            </div>
        </div>
        <table id="config-table">
            <tr *ngFor="let variable of set.List(false)">
                <td>
                    <input type="text"
                           class="variable-name"
                           [(ngModel)]="variable[0]">
                </td>
                <td>
                    <input type="text"
                           class="variable-value"
                           [(ngModel)]="variable[1]">
                </td>
                <td>
                    <button class="delete-button"
                            (click)="set.Delete(variable[0])">
                        x
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>