/* The main content */
.main-content {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}


/* The left-collapsing sidebar */

.sidebar-left-collapse {
	/*rgba(176, 215, 255, 0.4)*/
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	top: 0;
    box-shadow: 0 0 1px 1px black inset, 
        0 0 10px 0 black;
	width: 120px;
	height: 100%;
	padding: 20px 0;
	overflow: visible;
	z-index: 900;
	transition: left 0.7s ease, width 0.7s ease, border 0.5s linear ;
}

.sidebar-left-collapse > a {
	display: block;
	text-decoration: none;
	font-family: Cookie, cursive;
	width: 122px;
	height: 122px;
	margin: 0 auto;
	text-align: center;
	color:  #ffffff;
	font-size: 35px;
	font-weight: normal;
	line-height: 2.6;
	border-radius: 50%;
}

.sidebar-left-collapse .company-logo {
    width: 70px;
    height: 70px;
	background-image: url("../icons/cuttlefish.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
    transition: all 1.2s ease;
}

.sidebar-left-collapse .company-logo:hover{
    transform: rotateY(360deg);
    box-shadow: 0 0 10px 0px black;
}

.sidebar-left-collapse .sidebar-links {
	margin: 30px auto;
}

.sidebar-links div > a {
	display: block;
	text-decoration: none;
	margin: 0 auto 5px 0;
	padding: 10px 0 10px 5px;
	background-color: rgba(0,48,68,.3);
	text-align: left;
	color:  white;
	font-size: 12px;
	font-weight: bold;
	line-height: 2;
	border-left-width: 10px;
	border-left-style: solid;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s;
}

.sidebar-links div > a:hover {
    background-color: rgba(255,255,255,0.3);
}

.sidebar-links div.selected > a{
	background-color: #ffffff;
	color: white;
	line-height: 2.3;
	margin: 0;
}

.sidebar-links div > a i.fa {
	position: relative;
	font-size: 16px;
	top: 3px;
	width: 40px;
	text-align: center;
}

.sidebar-links div ul.sub-links {
	max-height: 0;
	overflow: hidden;
	list-style: none;
	padding: 0 0 0 30px;
	color:  white;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	margin: 0;
	transition: 0.4s;
}

.sidebar-links div.selected ul.sub-links {
	max-height: 150px;
	padding: 12px 0 12px 30px;
}

.sidebar-links div .sub-links a {
	text-decoration: none;
	color: white;
	display: block;
	text-align: left;
}

/* Link Colors */

.sidebar-links div.link-blue > a {
	border-color: #487db2;
    border-color: rgb(20,48,98);
}


.sidebar-links div.link-red > a {
	border-color: rgb(160,48,57);
}


.sidebar-links div.link-yellow > a {
	border-color: #d0d237;
}

.sidebar-links div.link-green > a {
	border-color: #86be2e;
}

/* Making the sidebar responsive */

@media (max-width: 900px) {

	.main-content{
		max-width: none;
		padding: 70px 20px;
		margin: 0 0 40px;
	}

	.sidebar-left-collapse {
		width: auto;
		height: auto;
		position: static;
		padding: 20px 0 0;
	}

	.sidebar-left-collapse .sidebar-links {
		text-align: center;
		margin: 20px auto 0;
	}

	.sidebar-links div {
		display: inline-block;
		width: 100px;
	}

	.sidebar-links div > a {
		text-align: center;
		margin: 0;
		padding: 10px 0;
		border-left: none;
		border-top-width: 2px;
		border-top-style: solid;
	}

	.sidebar-links div > a i.fa {
		display: block;
		margin: 0 auto 5px;
	}

	.sidebar-links div ul.sub-links {
		display: none;
	}

	.sidebar-links div.selected .sub-links {
		display: block;
		position: absolute;
		text-align: center;
		width: auto;
		left: 0;
		right: 0;
	}

	.sidebar-links div.selected .sub-links li {
		display: inline-block;
	}

	.sidebar-links div.selected .sub-links a {
		display: inline-block;
		margin-right: 20px;
		font-size: 13px;
		color: #748290;
	}

}

/* Smartphone version */

@media (max-width: 450px) {

	.main-content{
		padding: 90px 20px;
	}

	.sidebar-left-collapse {
		padding: 20px 0;
	}

	.sidebar-left-collapse .sidebar-links {
		text-align: center;
		margin: 20px auto 0;
		position: relative;
	}

	.sidebar-links div {
		display: block;
		width: 240px;
		margin: 0 auto 5px;
	}

	.sidebar-links div > a {
		text-align: left;
		padding: 10px 25px;
		vertical-align: middle;
		border-top: none;
		border-left-width: 2px;
		border-left-style: solid;
	}

	.sidebar-links div > a i.fa {
		display: inline-block;
		font-size: 20px;
		width: 20px;
		margin: 0 20px 0 0;
	}

	.sidebar-links div.selected .sub-links {
		bottom: -90px;
	}

}

/*	Removing margins and paddings from the body, so that
    the sidebar takes the full height of the page */

body {
	margin: 0;
	padding: 0;
}
