<div class="edition-window decode-window">
    <div class="toolbar-workspace">
        <div class="title-toolbar-workspace"> Editeur de décodeur </div>
        <div class="toolbar-items">
            <div class="toolbar-group">
                <button class="item-workspace clear"
                        title="Efface le contenu de l'espace de travail"
                        ng-click="$ctrl.Clear()"></button>
                <button class="item-workspace saveServer"
                        title="Sauvegarde serveur"
                        ng-click="$ctrl.Save()"></button>
            </div>
            <!-- Adding the search bar for tags -->
            <div class="toolbar-group">
                <input class="item-workspace"
                       id="search-bar"
                       type="text"
                       placeholder="tag1, tag2, ..."
                       ng-model="$ctrl.Tags" />
                <button class="item-workspace research"
                        title="Rechercher les tags"
                        ng-click="$ctrl.SearchTag()"></button>
            </div>
            <div class="toolbar-group">
                <button class="item-workspace refresh"
                        ng-click="$ctrl.Refresh()"
                        title="Rafraichit les fonctions"></button>
            </div>
            <div class="toolbar-group">
                <button class="item-workspace add"
                        title="Créer une nouvelle fonction"
                        ng-click="$ctrl.OpenTab()"></button>
            </div>
        </div>
    </div>
    <div id="blocklyDiv" class="blocklyDiv"></div>
</div>