body { font-family: 'Segoe UI', sans-serif; }

.background {
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
    -o-filter: blur(15px);
    -webkit-filter: blur(15px);
    background-image: url("../backgrounds/grunge.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(15px);
    height: 100%;
    opacity: 1;
    position: fixed;
    width: 100%;
    z-index: -10;
}

/* ------------- Sections ---------------------- */

editor,
spec {
    background: none;
    height: 100%;
    padding-left: 120px;
    position: absolute;
    transition: visibility 0.2s, opacity 0.2s;
    visibility: hidden;
    width: 100%;
}

editor { }

spec { overflow: hidden; }

/* ----------------- Blockly Div --------------------- */

#filesDiv {
    position: relative;
    z-index: 999;
}

#filesDiv button {
    background-color: #ececec;
    border: 0;
    border-left: solid grey 3px;
    border-radius: 1px;
    color: black;
    display: inline-block;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: bold;
    height: 30px;
    margin: 0px;
    position: relative;
    transition: 1s;
}

#filesDiv button:hover {
    background-color: #d0d0d0;
    border-left: solid red 3px;
    transition: 0.1s;
}

#filesDiv button:active { background-color: white; }

#filesDiv button:selection { border-bottom-color: #454545; }

/* ---------------- Generated code ------------------- */
.generated-code {
    box-shadow: 0 0 3px 1px #10208A inset;
    color: #604040;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    transition: 0.4s;
    width: 100%;
}

.content-code {
    height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.switch-wrapper {
    backface-visibility: hidden;
    height: 100%;
    padding-left: 190px;
    position: absolute;
    transition: all 1s, visibility 0.5s;
    width: 100%;
}

.upside {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    visibility: visible;
}

.downside {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    visibility: hidden;
}

.switch {
    border: 0;
    box-shadow: 0 0 1px 1px #604040;
    color: white;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    transition: 0.1s;
    width: 100%;
}

.switch:hover { background-color: #604040; }

.generated-code h1 { padding: 20px; }

.bloc-spec {
    background: none;
    border-left: solid 4px #604040;
    font-family: open sans;
    font-weight: 500;
    margin: 0;
    padding: 10px 0;
    transition: 0.1s;
}

.bloc-spec:hover {
    background-color: rgb(246, 219, 183);
    border-left: solid 4px #806060;
    cursor: crosshair;
}

.bloc-spec pre {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 1px 1px #604040;
    font-family: open sans;
    font-weight: 500;
    padding: 10px;
    position: relative;
    text-align: left;    
}

.bloc-spec .infos span {
    font-family: open sans;
    font-style: normal;
    font-weight: 500;
}

.version-item {
    display: block;
    margin: 10px auto;
    width: auto;
}

.soft-background {
    background: none;
    border: none;
    box-shadow: none;
    text-align: center;
}

.variables input {
    border: 1px #10208A solid;
    border-radius: 2px;
    box-shadow: 0 0;
    color: #604040;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin: 2px;
    padding: 2px;
    width: 100%;
}

.variables h1 { text-align: center; }


.textarea {
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 90px;
    padding: 12px 20px;
    resize: none;
    width: 100%;
}

.delete-button { }

.delete-button:hover { }

.edition-window {
    border-radius: 0;
    color: white;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 10px;
    transition: width .5s;
}

.edition-window-full { width: 100%; }

.edition-window-reduce { width: 75%; }

.variables {
    background: radial-gradient(ellipse, rgba(0,0,128,0.1) 10%, rgba(0, 0, 255, 0) 50%, rgba(0,48,208,0.1) 90%);
    box-shadow: 0 0 1px 1px black inset, 
        0 0 10px 0 black;
    display: inline-block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    transition: all .5s ease;
    z-index: 0;
}

.variables .toolbar-workspace { border-radius: 2px; }

.variables-open {
    padding: 5px;
    visibility: visible;
    width: 24%;
}

.variables-close {
    visibility: hidden;
    width: 0%;
}

.variables-set {
    color: white;
}

.variables-set h1 {
    font-size: 1.5em;
    font-weight: 600;
}

.variables table {
    display: block;
    max-height: 10em;
    overflow-y: auto;
    padding-right: 7px;
}


/*-------------------- Toolbar ----------------------- */

.toolbar-workspace {
    background: none;
    border-radius: 0;
    height: auto;
    margin: 0px;
    padding: 10px;
}

.title-toolbar-workspace {
    height: 30px;
    margin: 0px;
    text-align: center;
    width: auto;
}

.toolbar-group {
    border-radius: 0;
    border-top: 1px solid white;
    display: inline-block;
    height: 30px;
    padding-top: 2px;
}

.decoder-info label {
    display: block;
    margin-right: 0;
    padding-top: 5px;
    text-align: right;
}

.decoder-info input {
    margin: 2px;
    padding: 0 2px;
    width: 100%;
}

.toolbar-group input {
    color: #10208A;
    padding: 0 2px;
    position: relative;
}

.toolbar-group p {
    font-size: 18px;
    height: 30px;
    padding: 0 4px;
}

.toolbar-group span {
    color: white;
    font-size: 1.9em;
    height: 100%;
    margin: 0;
}

.ico-save { background-image: url("../icons/ico-save.png"); }

.ico-restore { background-image: url("../icons/ico-restore.png"); }

.ico-clear { background-image: url("../icons/ico-clear.png"); }

.ico-refresh { background-image: url("../icons/ico-refresh.png"); }

.ico-research { background-image: url("../icons/ico-research.png"); }

.ico-add { background-image: url("../icons/ico-add.png"); }

.ico-delete { background-image: url("../icons/ico-delete.png"); }

.ico-saveServer { background-image: url("../icons/ico-serv-store1.png"); }

.ico-supressServer { background-image: url("../icons/ico-serv-supress.png"); }

.ico-variables { background-image: url("../icons/variables.png"); }

.toolbar-group button {
    -ms-background-size: 80% 80%;
    background-color: white;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    margin: 0px;
    padding: 0px;
    width: 30px;
}

.item-workspace {
    background-color: white;
    border: 0;
    border-radius: 1px;
    box-shadow: 0 0 1px 0px #10208A inset;
    color: #10208A;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: bold;
    height: 30px;
    margin-top: 0;
    position: relative;
    transition: 0.1s;
}

.toolbar-group button:hover { background-color: #f6d781; }

.toolbar-group button:active { background-color: white; }

.toolbar-group button:selection { border-bottom-color: #454545; }

.set-title {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0);
    border: 0 !important;
    color: white !important;
    font-size: 1.3em;
    height: 30px;
    margin: 0;
    padding: 0;
    padding-right: 0px !important;
    text-align: center;
    top: 0;
    width: auto !important;
}

/* ---------------------- Dropwdown -----------------*/

/*
.dropdown {
    font-family: 'Segoe UI', sans-serif;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    z-index: 2000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 30px;
    max-height: 300px;
    box-shadow: 0 0 1px 0px #10208A inset,
        0 0 2px 0px black;
    width: 200px;
}
*/

.dropdown li {
    background-color: white;
    color: #10208A;
    height: 30px;
    margin: 0;
    padding: 3px 5px;
    position: relative;
    text-align: left;
    transition: 0.05s;
    z-index: 1;
}

.dropdown li button {
    background: none;
    border: 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.dropdown li:hover {
    background-color: #f6d781;
    color: #10208A;
}

/* */

.decoders-info {
    display: inline-block;
    font-family: open sans;
    font-weight: 500;
    height: 100%;
    
    position: absolute;
    width: 190px;
}



.decoders-info .decoders-list {
    margin-left: 0;
    padding: 0 0;
    position: static;
    transition: .5s;
    z-index: 50;
}

.decoders-info .decoders-list button {
    background-color: #604040;
    border: none;
    box-shadow: none;
    color: white;
    margin: 1px;
    padding: 5px;
    position: relative;
    text-align: left;
    transition: .5s;
    z-index: 50;
}

.decoders-list .dropdown-menu {
    background: white;
    position: static;
}

.decoders-info .decoders-list li {
    background-color: white;
    color: #10208A !important;
    cursor: context-menu;
    padding: 5px;
    text-align: left;
    transition: .2s;
    width: 100%;
}

.decoders-info .decoders-list li:hover {
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #604040 inset;
    padding-left: 10px;
}

/*---------------- Small notifications on the right side------------*/

.bb-alert {
    bottom: 25%;
    font-size: 1.2em;
    margin-bottom: 0;
    padding: 1em 1.3em;
    position: fixed;
    right: 0;
    z-index: 2000;
}